.row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 1vh;
  text-align: center;
}

.image{
  border: solid red 5px;
  height: 30vh;
  width: 30vh;
}

.card{
  padding: 1vh;
  border: solid black 5px;
}